@{
    ViewData["Title"] = "";
}

<style>
    body {
        background-color: #eeeeee;
    }
    .login_main {
        width: 350px;
        margin-top:200px;
        margin-right:10px;
        background-color: #ffffff;
        box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.04);
        border-width: 0;
        border-top-width: 0px;
        border-radius: 3px;
    }
    .center_main {
        width: 350px;
        margin-top: 200px;
        margin-right: 10px;
        box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.04);
        border-width: 0;
        border-top-width: 0px;
        border-radius: 3px;
    }


    .ioc_text {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 50px;
    }

    .login_content {
        max-width:300px;
        margin: 0px auto;
    }
</style>

<div class="container-fluid" style="height:100%;width:100%">
    <div class="row">
        <div class="col-md-8">
            <div class="center_main">
                <img src="~/masest.png" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="login_main">
                    <div class="ioc_text">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>请登录您的账户</span>
                    </div>
                    <div class="login_content">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Remenber me
                                </label>
                            </div>
                            <button type="button" class="btn btn-primary" style="width:100%"> Login </button>

                        </form>

                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
</div>